#background_fade_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background_fade_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}
