#background_fade_container {
/* We use a grid so we can put multiple inner containers in the same cell to superimpose them. */
  display: grid;
/* So far we have tried the following methods to make the background image fit the viewport.

1. #background_fade_container/overflow: hidden and .background_fade_image/object-fit: contain. This resizes the image and uses letterboxing/pillarboxing. Renpy seems to use the same method. This is our current method.

2. #background_fade_container/overflow: hidden and .background_fade_image/object-fit: cover. This does not resize the image, but shows as much of it as possible, cropping evenly from all sides. This seems unlikely to work with different display resolutions.

3. Neither. This resizes the image horizontally and vertically to fit the viewport. This distorts the image.

- Letterboxing/pillarboxing an image map exposes the characters and dialogue box behind it. We think this is because letterboxing/pillarboxing detaches the image map from the edges of the viewport, whereas the interface layers that contain the characters and dialogue box are still attached to the edges of the viewport. We probably need code to transform the interface layers to match the dimensions of the resized background image/image map.

- If we fix this, we could also put notifications and command menu in interface layer containers. That way, they would behave as if attached to the edges of the background image/image map instead of to the edges of the viewport.
*/
  overflow: hidden;
}

.background_fade_image {
  grid-area: 1 / 1;
/* We cannot set width/height to 100%, because that forces the grid in style.css/#interface_root to expand to the size of the image, which at 1920x1080 is slightly larger than the viewport. The dialogue box and characters are also aligned with the bottom of the grid, so this affects them as well.
The same thing happens if we do not set any width/height. It seems they cannot flow down from a parent element to an image.
So we must set the width/height of the image directly, and we must use vw/vh.
*/
  width: 100vw;
  height: 100vh;
  object-fit: contain;
/* Prevent the player from selecting or dragging the background image. */
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
