#command_menu_container {
  position: fixed;
  top: 0rem;
  right: 0rem;
/* TODO2 #configuration This moves the configuration menu to the dialog box.
Problems:
- It isn't part of dialogue.css/#dialogue_box_container, so this positioning is based on guesswork and not robust.
- It remains behind when there is no dialog box (for example, when the author runs fadeoutall or shows an image map) and looks awkward.
(end)

  right: 25%;
  bottom: 20%;
*/
  display: flex;
  justify-content: center;
/* Pass mouse clicks through to whatever is beneath. */
  pointer-events: none;
}

#command_menu {
  display: flex;
/* bg-black/40 */
  background-color: rgba(0, 0, 0, 0.4);
/* rounded-full */
  border-radius: 9999px;
/* Add padding to the left and right sides of the menu. */
  padding: 0rem 0.5rem;
/* Unlike the container, the command menu itself can receive mouse clicks. The container's children inherit pointer-events: none, so we must override it. */
  pointer-events: auto;
  font-size: 0.5em;
}

#command_menu label {
  display: block;
/* Add padding around the labels to separate them and detect mouse clicks. */
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  user-select: none;
}
