#command_menu_container {
  position: fixed;
  top: 0rem;
  right: 0rem;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

#command_menu {
  display: flex;
  gap: 0.5rem;               /* gap-2 */
  background-color: rgba(0, 0, 0, 0.4); /* bg-black/40 */
  border-radius: 9999px;     /* rounded-full */
  padding: 0.25rem 1rem;     /* py-1 px-4 */
  pointer-events: auto;
  font-size: 0.5em;

}
