/* TODO1 #configuration Move this to the dialog box or let the player configure that. */
#command_menu_container {
  position: fixed;
  top: 0rem;
  right: 0rem;
  display: flex;
  justify-content: center;
/* Pass mouse clicks through to whatever is beneath. */
  pointer-events: none;
}

#command_menu {
  display: flex;
/* bg-black/40 */
  background-color: rgba(0, 0, 0, 0.4);
/* rounded-full */
  border-radius: 9999px;
/* Add padding to the left and right sides of the menu. */
  padding: 0rem 0.5rem;
/* Unlike the container, the command menu itself can receive mouse clicks. The container's children inherit pointer-events: none, so we must override it. */
  pointer-events: auto;
  font-size: 0.5em;
}

#command_menu label {
  display: block;
/* Add padding around the labels to separate them and detect mouse clicks. */
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  user-select: none;
}
