/* TODO2 CSS
- Clean up.
*/

.configuration_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
/* Blur effect. */
/* Final parameter is alpha channel (transparency). */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);          /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px);  /* Safari support */
  color: white;
  font-family: sans-serif;
}

.configuration_header {
  padding-left: 1rem;
}

.configuration_dialogue {
  padding-left: 1rem;
}
