#configuration_screen {
/* Blur effect. */
/* Final parameter is alpha channel (transparency). */
  background: rgba(255, 255, 255, 0.2);
/* Frosted glass effect. */
  backdrop-filter: blur(10px);
/* Safari support. */
  -webkit-backdrop-filter: blur(10px);
  color: white;
  font-family: sans-serif;
}

#configuration_screen:focus {
  outline: none;
}

.configuration_header {
  padding-left: 1rem;
}

.configuration_items {
  padding-left: 1rem;
}

.configuration_grid {
  display: grid;
  grid-template-columns: auto 1fr;
/* Row gap, column gap. */
  gap: 0.5rem 1rem;
}
