/* TODO2 CSS
- Clean up.
*/

#configuration_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
/* Blur effect. */
/* Final parameter is alpha channel (transparency). */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);          /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px);  /* Safari support */
  color: white;
  font-family: sans-serif;
/* Enables vertical scrolling if needed. */
  overflow-y: auto;
  overflow-x: hidden;
}

#configuration_screen:focus {
  outline: none;
}

.configuration_header {
  padding-left: 1rem;
}

.configuration_items {
  padding-left: 1rem;
}

.configuration_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem; /* row-gap, column-gap */
}
