/* TODO2 CSS
- Clean up.
*/

.configuration_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
/* Blur effect. */
/* Final parameter is alpha channel (transparency). */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);          /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px);  /* Safari support */
  color: white;
  font-family: sans-serif;
}

.configuration_header {
  padding-left: 1rem;
}

.configuration_dialogue {
  padding-left: 1rem;
}

.controls {
/*
  display: flex;
  justify-content: flex-end;
*/
  padding-left: 1rem;
  margin-top: 1rem;
}

.controls button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #005fa1;
}

