/* TODO1 #background Need a better way to scale background/image map to window size. This is probably why Ren'py makes you select a target resolution when you create a project. Does CSS have any kind of dynamic resize/resample?
Looks like Ren'py games typically shrink the background from the top instead of the sides. Figure out how to do that.
*/

#image_map_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#image_map_container:focus {
  outline: none;
}

#image_map_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.image_map_hotspot {
  position: absolute;
  cursor: pointer;
/* Prevent layout shift when we show border. */
/*  border: 1px solid transparent; */
/* For now, we do this instead so the player can see the hotspot. */
  border: 1px solid white;
}

.image_map_hotspot:hover {
  border: 1px solid red;
}
