#image_map_container {
  display: grid;
}

#image_map_container:focus {
  outline: none;
}

#image_map_image {
  grid-area: 1 / 1;
/* See comments on background.css/.background_fade_image. */
  width: 100vw;
  height: 100vh;
}

.image_map_hotspot {
  position: fixed;
  cursor: pointer;
/* Prevent layout shift when we show the border. */
/*  border: 1px solid transparent; */
/* For now, we do this instead so the player can see the hotspot. */
  border: 1px solid white;
}

.image_map_hotspot:hover {
  border: 1px solid red;
}
