#menu_container {
/* TODO2 We do not know why this was here. It might have been for the command menu before we fixed its z-order? */
/*    margin: 20px;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu_container:focus {
  outline: none;
}

#menu_description {
/* TODO2 This might be here to separate the description from the menu items. */
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    background-color: #eee;
}

#menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.menu_item {
    display: inline-block;
/* Will be overridden by parent width */
    width: 100%;
    text-align: center;
    padding: 12px 24px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu_item:hover {
    background-color: #ddd;
}
